<footer>
&copy; {{ site.buildTime | justTheYear }} {{ site.site_name }}&#32;&#9679;&#32;All rights reserved&#32;&#9679;&#32;
Built by <a href="http://starfallprojects.co.uk/" target="_blank" rel="noopener">Starfall Projects</a>&#32;&#9679;&#32;
Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a>&#32;&#9679;&#32;
Hosted by <a href="https://www.netlify.com/" target="_blank" rel="noopener">Netlify</a>
</footer>


  </body>
</html>